@page
@{
    ViewBag.Title = "Milgrad Dairy | basket";
}

<div class="table-container">
    <table>
        <thead>
        <tr>
            <th>product</th>
            <th>quantity</th>
            <th>unit price</th>
            <th>total price</th>
        </tr>
        </thead>

        <tbody>
        <tr class="butter">
            <td>butter</td>
            <td class="quantity">0</td>
            <td class="unit-price">2.80</td>
            <td class="total-price">5.1</td>
        </tr>
        <tr class="kefir">
            <td>kefir</td>
            <td class="quantity">0</td>
            <td class="unit-price">2.50</td>
            <td class="total-price">6.1</td>
        </tr>
        <tr class="milk">
            <td>milk</td>
            <td class="quantity">0</td>
            <td class="unit-price">1.60</td>
            <td class="total-price">7.1</td>
        </tr>
        <tr class="snack-bar">
            <td>snack bar</td>
            <td class="quantity">0</td>
            <td class="unit-price">1.10</td>
            <td class="total-price">8.1</td>
        </tr>
        <tr class="yoghurt">
            <td>yoghurt</td>
            <td class="quantity">0</td>
            <td class="unit-price">1.20</td>
            <td class="total-price">9.8</td>
        </tr>
        </tbody>

        <tfoot>
        <tr id="total">
            <th colspan="3">basket total:</th>
            <td>£0.00</td>
        </tr>
        </tfoot>
    </table>
</div>

<div class="button-container">
    <button class="submit-button" id="clear-basket">clear basket</button>
    <a class="submit-button" href="oops.html">checkout</a>
</div>

<div class="all-products">
    <img src="assets/all-products.png" alt="Our product range">
    <a href="all.html" class="submit-button">see all products</a>
</div>
