@page
@{
    ViewBag.Title = "Milgrad Dairy | butter";
}

<div class="card-container">
    <div class="card-item white-card">
        <video controls autoplay muted>
            <source src="assets/video/cat.mp4" type="video/mp4">
            Sorry, your browser does not support this video :(
        </video>
    </div>

    <div class="card-item product-card">
        <p>butter</p>
        <img class="thumbnail" src="assets/butter.png" alt="Pack of butter">
        <div class="modal">
            <span class="close">&times;</span>
            <img class="modal-content"  src="assets/butter.png" alt="Enlarged product image">
            <div class="caption"></div>
        </div>
    </div>

    <div class="card-item white-card">
        <p>rich butter, available with or without salt.<br><br>perfect for spreading on toast or for baking delicious cakes.</p>
        <hr><p>size: 450g</p>
        <hr><p id="price">£2.80</p>
        <button class="submit-button" id="add-butter">add to basket</button>
    </div>
</div>

<div class="all-products">
    <img src="assets/all-products.png" alt="Our product range">
    <a href="all.html" class="submit-button">see all products</a>
</div>
