@page
@{
    ViewBag.Title = "Milgrad Dairy | contact";
}

<div class="card-container">
    <div class="card-item product-card">
        <h1>contact us:</h1>
    </div>

    <div class="card-item white-card">
        <p>write to us here:<br>50th Army str., 2B<br>Bryansk<br>Russia<br>241027</p>
        <p>call us on +7(4832) 52-49-11 </p>
        <p>or email us <a href="mailto:info@bmk32.ru">here</a></p>
    </div>

    <div class="card-item white-card">
        <img src="assets/milk-cookies.jpeg" alt="A glass of milk with cookies">
    </div>
</div>


<div class="all-products">
    <img src="assets/all-products.png" alt="Our product range">
    <a href="all.html" class="submit-button">see all products</a>
</div>

<div class="instagram">
    <a href="https://www.instagram.com/milgrad.ru/" target="_blank">follow us on instagram!</a>      <div>
        <img src="assets/instagram-1.jpeg" alt="A cat looking at snack bars">
        <img src="assets/instagram-2.jpeg" alt="A fridge full of milk">
        <img src="assets/instagram-3.jpeg" alt="A tub of blueberry yoghurt">
        <img src="assets/instagram-4.jpeg" alt="A shelf of milk">
    </div>
</div>
