@page
@{
    ViewBag.Title = "Milgrad Dairy | kefir";
}

<div class="card-container">
    <div class="card-item white-card">
        <video controls autoplay muted>
            <source src="assets/video/milk.mp4" type="video/mp4">
            Sorry, your browser does not support this video :(
        </video>
    </div>

    <div class="card-item product-card">
        <p>kefir</p>
        <img class="thumbnail" src="assets/kefir.png" alt="Kefir carton">
        <div class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" alt="Enlarged product image">
            <div class="caption"></div>
        </div>
    </div>

    <div class="card-item white-card">
        <p>fermented probiotic drink.<br><br>a rich source of calcium, protein, and vitamin B. try it on cereal for a nutritious breakfast.</p>
        <hr><p>size: 1l</p>
        <hr><p id="price">£2.50</p>
        <button class="submit-button" id="add-kefir">add to basket</button>
    </div>
</div>

<div class="all-products">
    <img src="assets/all-products.png" alt="Our product range">
    <a href="all.html" class="submit-button">see all products</a>
</div>
