@page
@{
    ViewBag.Title = "Milgrad Dairy | snack bar";
}

<div class="card-container">
    <div class="card-item white-card">
        <video controls autoplay muted>
            <source src="assets/video/snack-bar.mp4" type="video/mp4">
            Sorry, your browser does not support this video :(
        </video>
    </div>

    <div class="card-item product-card">
        <p>snack bar</p>
        <img class="thumbnail" src="assets/snack-bar.png" alt="Snack bar">
        <div class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" alt="Enlarged product image">
            <div class="caption"></div>
        </div>
    </div>

    <div class="card-item white-card">
        <p>a nutritious bar for nourishment on-the-go.<br><br>currently available in four delicious flavours - check back for more!</p>
        <hr><p>size: 50g</p>
        <hr><p id="price">£1.10</p>
        <button class="submit-button" id="add-snack-bar">add to basket</button>
    </div>
</div>

<div class="all-products">
    <img src="assets/all-products.png" alt="Our product range">
    <a href="all.html" class="submit-button">see all products</a>
</div>
