@page
@{
    ViewBag.Title = "Milgrad Dairy | yoghurt";
}

<div class="card-container">
    <div class="card-item white-card">
        <video controls autoplay muted>
            <source src="assets/video/yoghurt.mp4" type="video/mp4">
            Sorry, your browser does not support this video :(
        </video>
    </div>

    <div class="card-item product-card">
        <p>yoghurt</p>
        <img class="thumbnail" src="assets/yoghurt.png" alt="Strawberry yoghurt">
        <div class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" alt="Enlarged product image">
            <div class="caption"></div>
        </div>
    </div>

    <div class="card-item white-card">
        <p>creamy yoghurt with real fruit pieces.<br><br>grab a spoon and make breakfast a little more fruity.</p>
        <hr><p>size: 150g</p>
        <hr><p id="price">£1.20</p>
        <button class="submit-button" id="add-yoghurt">add to basket</button>
    </div>
</div>

<div class="all-products">
    <img src="assets/all-products.png" alt="Our product range">
    <a href="all.html" class="submit-button">see all products</a>
</div>
